[submodule "TwitchStreamDownloader"]
	path = TwitchStreamDownloader
	url = https://github.com/Urantij/TwitchStreamDownloader.git
[submodule "minio-dotnet"]
	path = minio-dotnet
	url = https://github.com/Urantij/minio-dotnet.git
